{% extends 'base.html'%}

{%block title%}
home
{% endblock %}

      {%block content%}
 
    <div id="myCarousel" class="carousal slide" data-ride="carsousel">
      <!--indicators-->
     <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>

     <!--wrapper for slides-->
     <div class="carousel-inner" style="height: 450px;">
        <div class="item active">
            <img src="{% static 'img/download.jpeg' %}" alt="" width="100%">
        </div>

        <div class="item">
            <img src="" alt="" width="100%">
        </div>
        
        <div class="item">
            <img src="" alt="" width="100%">
        </div>

        <!--left and right controls-->
         <a class="left carousal-control" href="#myCarousal" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">previous</span>
         </a>
         <a class="right carousal-control" href="#mycarousal" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">previous</span>
         </a>
      </div>

{% endblock %}